<p>Your Lake Profile</p>
<br>
<table style="width:100%">
  <thead>
    <th>Lake Id</th>
    <th>Lake Name</th>
    <th>Lake Safety</th>
  </thead>
  <tbody>
    <tr *ngFor="let lake of listOfLakes">
      <td>
        {{lake.id}}
      </td>
      <td>
        <a [routerLink]="['/dashboard', {name: lake.lakeName}]">{{lake.lakeName}}</a>
      </td>
      <td [ngClass]="{italic: italic, bold: bold, 'error': error}">
        {{lake.buoys[0].currentConditionCode}}
      </td>
    </tr>
  </tbody>
</table>
<br>
<p><a href="/dashboard">Link to Dashboard</a></p>
